# Archivos de macOS
.DS_Store
__MACOSX/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Archivos generados por el compilador
AST.txt
out.py

# Cachés y metadatos de desarrollo
.pytest_cache/
*.egg-info/
.venv/
venv/

# Resultados generados
generated/*
!generated/.gitkeep
